<style rel="./index.css"></style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<div class="bbly">
    <div class="pos hide" id="chat_area">
        <div class="chatarea">
            <!-- <div class="top">
                <! -- display image and name and online status  - ->
                <div class="top__left">
                    <img
                        src="https://avatars.dicebear.com/api/micah/4.svg"
                        id="img"
                        height="70px"
                        width="70px"
                        class="img"
                        style="background-color: #fee2e2;"
                    />
                    <div class="top__left__details">
                        <span class="bot_name" id="name">Chatbot</span>
                        <div class="status">
                            <div class="status__indicator"></div>
                            <span>Online</span>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="chat">
                <div class="chatbox">
                    <div class="chatbox__body" id="chatbox__body">
                        <div
                            class="chatbox__body__message chatbox__body__message--left"
                        >
                            <div class="chatbox__body__message__img">
                                <img
                                    src="https://avatars.dicebear.com/api/micah/4.svg"
                                    id="img"
                                    height="40px"
                                    width="40px"
                                />
                            </div>
                            <div class="chatbox__body__message__text left">
                                <p>Hi, I'm Steve. How can I help you?</p>
                            </div>
                        </div>
                        <div
                            class="chatbox__body__message chatbox__body__message--right"
                        >
                            <div class="chatbox__body__message__text right">
                                <p>What's your purpose?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom__left">
                    <input
                        type="text"
                        id="message"
                        placeholder="Type a message..."
                        class="input"
                    />
                </div>
                <div class="bottom__right">
                    <button class="btn" id="send_message">
                        <svg fill="#fee2e2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="paper-plane">
                            <path
                                d="M20.34,9.32l-14-7a3,3,0,0,0-4.08,3.9l2.4,5.37h0a1.06,1.06,0,0,1,0,.82l-2.4,5.37A3,3,0,0,0,5,22a3.14,3.14,0,0,0,1.35-.32l14-7a3,3,0,0,0,0-5.36Zm-.89,3.57-14,7a1,1,0,0,1-1.35-1.3l2.39-5.37A2,2,0,0,0,6.57,13h6.89a1,1,0,0,0,0-2H6.57a2,2,0,0,0-.08-.22L4.1,5.41a1,1,0,0,1,1.35-1.3l14,7a1,1,0,0,1,0,1.78Z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bubble" id="bubble_head">
        <img
            class="img"
            src="https://avatars.dicebear.com/api/micah/4.svg"
            id="img"
            height="60px"
            width="60px"
        />
    </div>
</div>
